EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCwfaMnEhtTGQbdLq8PUN65o_-B5RhZ_1c
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=roomexpenses2.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=roomexpenses2
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=roomexpenses2.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=63951491516
EXPO_PUBLIC_FIREBASE_APP_ID=1:63951491516:web:e3beaf2b65248484c79bb9